.main-content .filter-container .search-filter,
    .main-content .filter-container .tags-container {
        flex-grow: 1;
    }

    .main-content .filter-container .tags-container {
        justify-content: flex-end;
    }

    .main-content .filter-container .tags-container .tags {
        flex-basis: 65%;
        margin-right: auto;
    }

    .main-content .gallery-container {
        column-count: 4 !important;
    }

    .meme-editor-container {
        display: flex;
        height: 500px;
    }
    .meme-editor-container .features-container>*{
        height: 55px !important;
    }