.main-content .filter-container .search-filter,
    .main-content .filter-container .tags-container {
        flex-grow: 1;
    }

    .main-content .filter-container .tags-container {
        justify-content: flex-end;
    }

    .main-content .filter-container .tags-container .tags {
        flex-basis: 65%;
        margin-right: auto;
    }

    .main-content .gallery-container {
        grid-template-columns: repeat(5, 1fr) !important;
    }

    .meme-editor-container {
        height: 700px;
    }