@font-face {
    font-family: impact;
    src: url(../fonts/impact/impact.ttf);
}

@font-face {
    font-family: righteous;
    src: url(../fonts/righteous/Righteous-Regular.ttf);
}

@font-face {
    font-family: raleway-light;
    src: url(../fonts/raleway/Raleway-Light.ttf);
}

@font-face {
    font-family: raleway-regular;
    src: url(../fonts/raleway/Raleway-Regular.ttf);
}

@font-face {
    font-family: fa;
    src: url(../fonts/fa/fa-solid-900.ttf);
}

.fa{
    font-family: fa;
}

.fa.plus::before,
.fa.minus::before{
    content: "\f031";
}

.fa.plus::after{
    content: "\2b";
}

.fa.minus::after{
    content: "\f068";
}

.fa.add::before{
    content: "\2b";
}

.fa.switch::before{
    content: "\f07d";
}

.fa.align-left::before{
    content: "\f036";
}

.fa.align-center::before{
    content: "\f039";
}

.fa.align-right::before{
    content: "\f038";
}

.fa.delete::before{
    content: "\58";
}

.fa.share::before{
    content: "\f064";
}

.fa.download::before{
    content: "\f019";
}

.fa.color::before{
    content: "\f53f";
}

.fa.stroke::before{
    content: "\f065";
}

.frr {
    font-family: raleway-regular;
}

.fr {
    font-family: righteous;
}
