@import url("fonts.css");

:root {
    --clr1: #129EAD;
    --clr2: #2CB77B;
    --clr3: #22252C;
    --clr4: #383B42;
    --clr5: #87898D;
    --clr8: #ffffff;
}

/* scroll-bar */

html {
    --scrollbarBG: #CFD8DC;
    --thumbBG: #90A4AE;
  }
  body::-webkit-scrollbar {
    width: 20px;
  }
  body {
    scrollbar-width: thin;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
  }
  body::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
  }
  body::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG) ;
    border: 3px solid var(--scrollbarBG);
  }

* {
    box-sizing: border-box;
}

/* BASICS */

body {
    margin: 0;
    background-color: var(--clr3);
    color: white;
    font-family: raleway-regular;
}

a {
    text-decoration: none;
}

a:visited {
    color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 2em;
    color: var(--clr8)
}

input {
    height: 50px;
    border: none;
    background-color: var(--clr3);
    padding: 15px;
    font-size: 1em;
}

button {
    border: none;
    padding: 0;
    margin: 0;
}

.main-layout>* {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

/* HELPERS */

.flex {
    display: flex;
}

.flex.column {
    flex-direction: column;
}

.flex.wrap {
    flex-wrap: wrap;
}

.flex.align-center {
    align-items: center;
}

.flex.justify-center {
    justify-content: center;
}

.flex.space-between {
    justify-content: space-between;
}

.full {
    width: 100%;
}

.hide {
    display: none !important;
}

.clean-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.gradient {
    background-image: linear-gradient(to right, var(--clr1), var(--clr2));
}

.b-gradient{
    background-image: linear-gradient(to right,var(--clr3), var(--clr4));
}

.main-nav .nav-content .menu.transform-menu {
    transform: translateY(0%);
}

/* COMPONENTS */

/* gallery */

.main-content,
.meme-editor-container {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: var(--clr4);
}

.main-content .gallery-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.main-content .gallery-container>* {
    width: 100%;
    object-fit: cover;
    cursor: pointer;
    transition: .4s;
}

.main-content .gallery-container>*:hover{
    scale: 1.05;
}

/* nav */

.main-nav {
    z-index: 5;
    position: fixed;
    top: 0;
}

.main-nav .nav-content {
    padding-top: 20px;
    padding-bottom: 20px;
}

.main-nav .nav-content .menu {
    z-index: 10;
    background-color: var(--clr8);
    color: #22252C;
    position: fixed;
    top: 0;
    left: 0;
    height: 40vh;
    font-size: 2.5em;
    box-shadow: 0 0 10px var(--clr3);
    transform: translateY(-110%);
    transition: .4s;
}

.main-nav .nav-content .menu>* {
    padding: 10px;
}

.main-nav .nav-content .menu>*:not(:last-child) {
    border-bottom: var(--clr3) 2px solid;
}

/* burger */

.main-nav .burger {
    height: 50px;
    width: 50px;
    background-color: var(--clr8);
}

.main-nav .burger>* {
    width: 50%;
    height: 5px;
    margin: 2px;
    background-color: var(--clr2)
}

/* black-screen */

.black-screen {
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    position: fixed;
    opacity: 0;
    pointer-events: none;
    transition: .4s;
}

.black-screen.menu-open {
    opacity: 1;
    pointer-events: auto;
}

/* main */

.main-content,
.meme-editor-container {
    margin-top: 120px;
}

/* filter */

.filter-container input {
    margin-bottom: 15px;
    height: 50px;
}

.filter-container .tags {
    flex-basis: 75%;
    background-color: var(--clr5);
    padding: 1em;
    margin-bottom: 15px;
}

.filter-container button {
    flex-basis: 20%;
    margin-bottom: 15px;
    width: 50px;
    height: inherit;
    color: white;
    border: none;
}


/* canvas */

canvas {
    background-color: aquamarine;
}

/* features */

.features-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
        'text text text'
        'plus switch minus'
        'add color delete'
        'align-left align-center align-right'
        'select select stroke'
        'emoji1 emoji2 emoji3'
        'emoji4 emoji5 download'
        'share share share'
        'save save save'
    ;
    gap: 10px;
}

.features-container .text-input {
    grid-area: text;
}

.features-container .plus {
    grid-area: plus;
}

.features-container .minus {
    grid-area: minus;
}

.features-container .add {
    grid-area: add;
}

.features-container .switch {
    grid-area: switch;
}

.features-container .color {
    position: relative;
    grid-area: color;
}

.features-container .color-input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.features-container .align-left {
    grid-area: align-left;
}

.features-container .align-center {
    grid-area: align-center;
}

.features-container .align-right {
    grid-area: align-right;
}

.features-container .select {
    grid-area: select;
    padding-left: 20px;
}

.features-container .stroke {
    grid-area: stroke;
}

.features-container .delete {
    grid-area: delete;
}

.features-container .emoji1 {
    grid-area: emoji1;
}

.features-container .emoji2 {
    grid-area: emoji2;
}

.features-container .emoji3 {
    grid-area: emoji3;
}

.features-container .emoji4 {
    grid-area: emoji4;
}

.features-container .emoji5 {
    grid-area: emoji5;
}

.features-container .share {
    grid-area: share;
}

.features-container .download {
    grid-area: download;
}

.features-container .save {
    grid-area: save;
    font-size: 1em;
    font-family: raleway-regular;
}

.features-container>* {
    background-color: var(--clr3);
    color: var(--clr8);
    width: 100%;
    height: 50px;
    cursor: pointer;
    transition: .6s;
}

.features-container>a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.features-container :not(.emoji):hover {
    background-color: #1a1b1d;
}

.features-container .emoji {
    background-color: transparent;
    font-size: 3em;
    line-height: 0;
}

.features-container .text-input {
    margin-top: 10px;
    grid-column: 1/-1;
}

.features-container .select {
    height: inherit;
}

@media only screen and (min-width: 890px) {

    .logo{
        cursor: pointer;
    }

    .main-nav .nav-content .menu>*:not(:last-child) {
        border: none;
    }

    .main-nav .nav-content .menu {
        height: 0px;
        font-size: 1.5em;
        position: static;
        flex-direction: row;
        justify-content: flex-end;
        transform: translateY(0%);
        background-color: transparent;
        box-shadow: none;
        color: white;
        width: fit-content
    }

    .main-nav .nav-content .burger {
        display: none;
    }

    .black-screen{
        display: none;
    }

    .fa.more::before{
        content: "More";
        font-family: raleway-regular;
        font-size: 1.5em;
        letter-spacing: 0.05em;
    }

    .main-content .gallery-container {
        grid-template-columns: repeat(3, 1fr);
    }

    .main-content .filter-container .tags-container .tags {
        width: 60%;
    }

    .main-content .filter-container .tags-container .tags-btn {
        width: 30%;
    }

    .meme-editor-container {
        height: 500px;
        display: flex;
    }


    .meme-editor-container .features-container {
        padding-right: 15px;
        padding-left: 15px;
        grid-template-columns: repeat(5, 1fr);

        grid-template-areas:
            'text text text text text'
            '. plus switch minus .'
            'color align-left align-center align-right add'
            'select select select stroke delete'
            'emoji1 emoji2 emoji3 emoji4 emoji5'
            'share share share download download'
            'save save save save save'
        ;
    }

    .meme-editor-container .canvas-container {
        flex-basis: 65%;
        padding-left: 15px;
    }

    .features-container>* {
        margin-top: 0;
    }

    .meme-editor-container .features-container>*:not(.text-input) {
        width: auto;
        height: auto;
    }

}

@media only screen and (min-width: 1200px) {



    .main-content .filter-container .search-filter,
    .main-content .filter-container .tags-container {
        flex-grow: 1;
    }

    .main-content .filter-container .tags-container {
        justify-content: flex-end;
    }

    .main-content .filter-container .tags-container .tags {
        flex-basis: 65%;
        margin-right: auto;
    }

    .main-content .gallery-container {
        grid-template-columns: repeat(5, 1fr);
    }

    .meme-editor-container {
        height: 700px;
    }
}