.logo {
    cursor: pointer;
}

.main-nav .nav-content .menu>*:not(:last-child) {
    border: none !important;
}

.main-nav .nav-content .menu {
    height: 0px !important;
    font-size: 1.5em !important;
    position: static !important;
    flex-direction: row !important;
    justify-content: flex-end !important;
    transform: translateY(0%) !important;
    background-color: transparent !important;
    box-shadow: none !important;
    color: white !important;
    width: fit-content !important;
}

.main-nav .nav-content .burger {
    display: none;
}

.black-screen {
    display: none;
}

.fa.more::before {
    content: "More";
    font-family: raleway-regular;
    font-size: 1.5em;
    letter-spacing: 0.05em;
}

.main-hero h1 {
    font-size: 4em !important;
}

.main-content .gallery-container {
    column-count: 3 !important;
}

.main-content .filter-container .tags-container .tags {
    width: 60%;
}

.main-content .filter-container .tags-container .tags-btn {
    width: 30%;
}

.main-content .upload{
    display: flex;
    justify-content: center;
}

.main-content .upload-btn{
    width: 30% !important;
}

.meme-editor-container {
    height: 100%;
}


.meme-editor-container .features-container {
    padding-right: 15px;
    padding-left: 15px;
    grid-template-columns: repeat(5, 1fr);
    width: 100%;
    grid-template-areas:
        'text text text text text'
        '. plus switch minus .'
        'color align-left align-center align-right add'
        'select select select stroke delete'
        'emoji1 emoji2 emoji3 emoji4 emoji5'
        'share share share download download'
        'save save save save save'
    ;
}

.meme-editor-container .canvas-container {
    flex-basis: 65%;
    padding-left: 15px;
}

/* .meme-editor-container .features-container{
    max-width: 620px !important;

} */

.meme-editor-container .features-container>*:not(.text-input) {
    width: auto;
    height: 80px;
}

.saved-meme{
    position: relative;
}

.saved-meme button{
    margin: 0 !important;
    z-index: 1;
    position: absolute;
    left: 10px;
    top: 10px;
    padding: 6px 10px;
}

.saved-meme img{
    width: 100%;
}

