.main-hero h1{
    font-size: 6em !important;
}

.main-content .gallery-container{
    column-count: 5 !important;
}

.meme-editor-container{
    height: 700px;
}

.meme-editor-container .features-container>*{
    height: 80px !important;
}